.login-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 50px;
}

.login-register-paper {
  padding: 32px;
  width: 100%;
  max-width: 400px;
}
